*{
    margin:0;
    padding:0;
    text-decoration:none;
    list-style:none;
}
@font-face {
    font-family: 'Product Sans';
    src: url('../fonts/ProductSans-Medium.woff2') format('woff2'),
        url('../fonts/ProductSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('../fonts/ProductSans-LightItalic.woff2') format('woff2'),
        url('../fonts/ProductSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('../fonts/ProductSans-Regular.woff2') format('woff2'),
        url('../fonts/ProductSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('../fonts/ProductSans-MediumItalic.woff2') format('woff2'),
        url('../fonts/ProductSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('../fonts/ProductSans-ThinItalic.woff2') format('woff2'),
        url('../fonts/ProductSans-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('../fonts/ProductSans-Thin.woff2') format('woff2'),
        url('../fonts/ProductSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('../fonts/ProductSans-BlackItalic.woff2') format('woff2'),
        url('../fonts/ProductSans-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('../fonts/ProductSans-Black.woff2') format('woff2'),
        url('../fonts/ProductSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('../fonts/ProductSans-Bold.woff2') format('woff2'),
        url('../fonts/ProductSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('../fonts/ProductSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/ProductSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('../fonts/ProductSans-Italic.woff2') format('woff2'),
        url('../fonts/ProductSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('../fonts/ProductSans-Light.woff2') format('woff2'),
        url('../fonts/ProductSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


/* Scroll Bar Css Starts */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: #ffffff;
    box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 20px;
    border-radius: 0;
    background: #292929;
    border: 2px solid #ffffff;
    width: 8px;
}
::-webkit-scrollbar-thumb:active {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #616161;
}
/* Scroll Bar Css Ends */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
a:hover,
a:focus,
a:active{
    text-decoration: none;
}
ol, ul{
    margin: 0;
    padding: 0;
}
img{
    display: block;
}
body{
    font-family: 'Product Sans';
    font-size: 14px;
    font-weight: 400;
    color: #000;
    background: #fff;
    text-decoration: none;
}

/* **** Header **** */
.start-header {
    opacity: 1;
    transform: translateY(0);
    padding: 25px 15px;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.start-header.scroll-on {
    padding: 10px 0;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img{
    height:45px;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.navigation-wrap{
    position: absolute;
    width: 100%;
    background: transparent;
    top: 0;
    left: 0;
    z-index: 1000;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.navbar{
    padding: 0;
}
.navbar-brand img{
    height: auto;
    width: auto;
    display: block;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.navbar-toggler {
    float: right;
    border: none;
    padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
}
.navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 1px solid #fff;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
    width: 24px;
    position: absolute;
    height: 1px;
    background-color: #fff;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
    top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}
.navbar-light .navbar-nav .nav-link{
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: #1e0202;
    padding: 10px 10px;
    display: inline-block;
}
.nav-link{
    color: #1e0202;
    font-weight: 500;
    transition: all 200ms linear;
    position: relative;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #333 ;
}
.navbar-light .navbar-nav .nav-link.nav-btn{
    font-size: 14px;
    font-weight: 500;
    color: #f68b24;
    border-radius: 15px;
    box-shadow: 0 12px 18px rgba(0,0,0,0.05);
    background: #fff;
    padding: 10px 30px;
}
.navbar-light .navbar-nav .nav-link.nav-btn img{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.navbar-light .navbar-nav .nav-item.active .nav-link{
    color: #fff;
}

.dropdown-toggle::after{display: none;}
.navbar-light .navbar-nav li a img{
    display: inline-block;
}
.navbar-light .navbar-nav li a.dropdown-toggle i{margin-left: 5px;}
.navbar-light .navbar-nav li .dropdown-menu{
    padding: 0;
    background: #0c0f14;
    min-width: 100%;
    box-shadow: none;
    border:none;
    border-radius:10px;
    margin: 5px 0 0;
    overflow: hidden;
}
.navbar-light .navbar-nav li .dropdown-menu .dropdown-item{padding:10px 10px; font-size: 12px;color: rgba(255,255,255,0.50);text-align: left;}
.navbar-light .navbar-nav li .dropdown-menu .dropdown-item:hover{background: #3fe87e;color: #fff;}
.navbar-light .navbar-nav li.thpart{margin-left: 90px !important;}
.navbar-light .navbar-nav li.thpart {
    margin-left:270px !important;
}
/* **** End Header **** */

/* **** Hero Banner **** */
.hero-banner-wrp{
    width: 100%;
    position: relative;
    padding: 200px 0 150px;
    background: #f9f3f0; /* Old browsers */
    background: -moz-linear-gradient(top, #f9f3f0 0%, #f9f3f0 35%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f9f3f0 0%,#f9f3f0 35%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f9f3f0 0%,#f9f3f0 35%,#ffffff 100%); 
}
.hero-banner-wrp .row{align-items: center;}
.banner-txt {
    padding: 0 30px 0 0;
}
.banner-txt h1{
    font-size: 58px;
    font-weight: bold;
    color: #282828;
    margin: 0 0 25px;
}
.banner-txt p{
    font-size: 16px;
    font-weight:400;
    color: #8a8786;
    line-height: 26px;
    margin: 0 0 25px;
}
.banner-txt .btn-group i{
    font-size: 20px;
    color: #bf8b89;
    padding: 12px 15px;
    -webkit-transition: .4s linear;
    -moz-transition: .4s linear;
    -ms-transition: .4s linear;
    transition: .4s linear;
}
.banner-txt .btn-group i:hover{
    color: #111;
}
.btn-main{
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    padding: 12px 45px;
    border-radius: 15px;
    background: #c99997;
    background: -moz-linear-gradient(-45deg, #c99997 0%, #b17876 100%);
    background: -webkit-linear-gradient(-45deg, #c99997 0%,#b17876 100%);
    background: linear-gradient(135deg, #c99997 0%,#b17876 100%);
    box-shadow: 0 12px 18px rgba(125,76,93,0.12);
    -webkit-transition: .4s linear;
    -moz-transition: .4s linear;
    -ms-transition: .4s linear;
    transition: .4s linear;
}
.btn-main:hover{
    color: rgba(255,255,255,0.80);
    box-shadow: 0 6px 16px rgba(125,76,93,0.50);
}
.banner-txt .btn-group .btn-main{margin-right: 15px;}
.banner-frm-block{
    position: relative;
}
.banner-frm-block img.backfrm-img{
    width:100%;
    margin: 0 auto;
    position: absolute;
    bottom:-100px;
    left: 0;
    right: 0;
}
.banner-frm{
    width: 340px;
    margin: 0 auto;
    display: table;
    position: relative;
    background: #fff;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 10px 19px rgba(30,2,2,0.0.07);
    z-index: 5;
}
img.frmshp1{
    position: absolute;
    top: 55%;
    width: 75px;
    left:-35px;
    transform: translate(0,-50%);
}
img.frmshp2{
    position: absolute;
    top:65%;
    width:55px;
    right: -28px;
    transform: translate(0,-50%);
}
.banner-frm h1{
    font-size: 20px;
    font-weight: 600;
    color: #282828;
    text-align: center;
    margin: 0 0 20px;
}
.banner-frm .form-group{margin: 0 0 20px;position: relative;}
.banner-frm .form-group label{
    display: block;
    margin: 0 0 10px;
    font-size: 14px;
    font-weight: 400;
    color: #a3a09f;
}
.banner-frm .form-group .mng-bx{position: relative;}
.banner-frm .form-group .form-control{
    padding: 12px 50px 12px 40px;
    background: #fff;
    height: auto;
    border-radius: 15px;
    border: 1px solid #f0f0f0;
    box-shadow: none;
    font-size: 14px;
    font-weight: normal;
    color: #333;
}
.banner-frm .form-group .mng-bx img{
    position: absolute;
    top:11px;
    left: 10px;
}
.banner-frm .form-group .mng-bx span{
    font-size: 14px;
    font-weight: normal;
    color: #b9b5b4;
    position: absolute;
    top: 8px;
    right: 10px;
    padding: 5px;
}
.banner-frm .form-group .mng-bx button{
    padding: 12px 15px 12px 40px;
    background: #fff;
    height: auto;
    border-radius: 15px;
    border: 1px solid #f0f0f0;
    box-shadow: none;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    display: block;
    width: 100%;
    text-align: left;
    outline: none !important;
}
.banner-frm .form-group .mng-bx button span{
    font-weight: normal;
    color: #a3a09f;
    position: relative;
    right: 0;
    padding: 0;
    top: 0;
}
.banner-frm .form-group .mng-bx button i{
    float: right;
    padding:5px 0 0;
}
.banner-frm .form-group .mng-bx .dropdown-menu{
    min-width: 100%;
    border-radius: 15px;
    border: 1px solid #f0f0f0;
    overflow: hidden;
    padding: 0;
}
.banner-frm .form-group .mng-bx .dropdown-menu a{
    padding: 10px;
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}
.banner-frm .form-group .mng-bx .dropdown-menu a span{
    font-weight: normal;
    color: #a3a09f;
    position: relative;
    padding: 0;
    right: 0;
    top: 0;
}
.banner-frm h4{
    font-size: 14px;
    font-weight: normal;
    color: #a3a09f;
    margin: 0 0 30px;
}
.banner-frm h4 span strong{
    color: #282828;
    font-weight: 600;
}
.banner-frm h4 span img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 20px;
}
.banner-frm h4 span{
    font-weight: normal;
    color: #b9b5b4;
    float: right;
    vertical-align: middle;
}
.btn-tras{
    padding: 15px 15px;
    width: 100%;
    display: block;
    text-align: center;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background: rgb(164,216,251); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(164,216,251,1) 0%, rgba(119,197,250,1) 69%, rgba(119,197,250,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(164,216,251,1) 0%,rgba(119,197,250,1) 69%,rgba(119,197,250,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(164,216,251,1) 0%,rgba(119,197,250,1) 69%,rgba(119,197,250,1) 100%);
    -webkit-transition: .4s linear;
    -moz-transition: .4s linear;
    -ms-transition: .4s linear;
    transition: .4s linear;
}
.btn-tras:hover{
    color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}
/* **** End Hero Banner **** */

/* **** Pools **** */
.pools-wrp{
    padding: 60px 0;
    width: 100%;
}
.pools-wrp h2{
    font-size: 34px;
    font-weight: bold;
    color: #282828;
    text-align: center;
    margin: 0 0 25px;
}
.pools-wrp p{
    width: 60%;
    margin: 0 auto 45px;
    font-size: 17px;
    font-weight: normal;
    color: #8a8786;
    line-height: 26px;
    text-align: center;
}
.pool-block{
    margin: 0 10px 30px;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 13px 19px rgba(30,2,2,0.07);
    background: #fff;
    position: relative;
}
.pool-head h3{
    padding: 0 0 15px;
    margin: 0 0 30px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 20px;
    font-weight: 600;
    color: #282828;
}
.pool-head h3 a{
    float:right;
    font-size: 14px;
    font-weight: normal;
    color: #8a8786;
    padding: 5px 0;
}
.pool-head h3 a i{    
    margin-left: 5px;
}
.pool-head h3 a:hover{
    color: #a4d8fb;
    -webkit-transition: .4s linear;
    -moz-transition: .4s linear;
    -ms-transition: .4s linear;
    transition: .4s linear;
}
.pool-img img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 15px auto 15px;
    display: table;
}
.pool-img h4{
    font-size: 28px;
    font-weight: bold;
    color: #282828;
    text-align: center;
    margin: 0 0 25px;
}
.pool-img h4 span{
    display: block;
    font-size: 15px;
    font-weight: normal;
    color: #b9b5b4;
}
.pool-block .btn-tras{
    box-shadow: 0 13px 19px rgba(30,2,2,0.07);
    margin: 0 0 25px;
}
.pool-block h5{
    padding:0 0 25px;
    margin: 0 0 10px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 15px;
    font-weight: 500;
    color: #a3a09f;
    display: block;
}
.pool-block h5 img{
    width: 17px;
    height: auto;
    display: inline-block;
    margin: 0 5px 0 0;
    vertical-align: middle;
}
.pool-block h5 span{
    color: #282828;
    font-weight: bold;
    float: right;
    padding:0 0;
}
.ppol-dt .table{
    margin: 0;
}
.ppol-dt .table tbody td{
    padding: 15px 0;
    font-size: 15px;
    font-weight: normal;
    color: #a3a09f;
    border: none;
}
.ppol-dt .table tbody td span{
    color: #282828;
    font-weight: 600;
}
.ppol-dt .table tbody td:last-child{
    text-align: right;
    color: #282828;
    font-weight: 600;
}
.pool-block img.frmshp1{width: 70px;height: auto;top: 25%;}
.pool-block img.frmshp2{width: 35px !important;height: auto;right: auto;left: -35px;top: 35%;}
.pool-block img.frmshp3{width: 70px;height: auto;top: 25%;left: auto;right: -45px;}

.pool-backimg img{width: 100%;margin: -80px 0 60px;position: relative;z-index: 5}
/* **** End Pools **** */

/* **** Footer **** */
footer{width: 100%;position: relative;}
.footer-one:after{
    position: absolute;
    content:'';
    width: 32%;
    height: 100%;
    background: #b17876;
    top: 0;
    left: 0;
}
.footer-one:before{
    position: absolute;
    content: '';
    background: url(../images/foot-shap.png) 0 0 no-repeat;
    background-size: 100% 100%;
    width:300px;
    height: 100%;
    top: 0;
    left:23%;
    z-index: 4;
}
.foot-top img{width: 100%;}
.footer-one{
    width: 100%;
    background: #b17876;
    position: relative;
}
.footer-one .row{
    align-items: center;
}
.foot-logo{
    position: relative;
    z-index: 5;
}
.fot-link{
    padding: 15px 0;
    border-bottom: 1px solid rgba(0,0,0,0.30);
}
.quicklinks{text-align: center;}
.quicklinks li{
    display: inline-block;
}
.quicklinks li a{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    display: inline-block;
}
.openbt .btn-f{
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 18px #8a5560;
    background: #9d666b;
    padding: 12px 30px;
    float: right;
}
.openbt .btn-f img{
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}
.copyright{
    padding: 15px 0;
    width: 100%;
}
.copyright .row{
    align-items: center;
}
.social-bx i{
    font-size: 18px;
    color: #efd9c5;
    margin-right:20px;
    position: relative;
    z-index: 5;
}
.social-bx a:last-child i{margin: 0;}
.social-bx i:hover{color: #fff;}
.sponcer-lg img{margin: 0 auto;}
.copytxt p{
    text-align: right;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #6f4a50;
}
img.fooshp1{
    position: absolute;
    bottom: 15px;
    left: 30px;
    z-index: 5;
}
img.fooshp2{
    position: absolute;
    z-index: 5;
    top: 30px;
    right: 30px;
}
/* **** End Footer **** */



.pool_stake_unstake{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
    border-top: 1px solid #f0f0f0;
    padding-top: 16px
}
.pool_stake_unstake input{
    margin: 0 6px
}
.pool_stake_unstake a{
    margin: 0 !important;
    transform: scale(0.9);
}
.btn-withdraw{
    margin: 0 !important
}